<footer class="footer">
  <div class="footer-links">
    <a routerLink="/about" class="footer-link">{{ content.toolbar.about }}</a>
    <a routerLink="/announcements" class="footer-link">{{ content.toolbar.announcements }}</a>
    <a routerLink="/events" class="footer-link">{{ content.toolbar.events }}</a>
    <a routerLink="/photo-gallery" class="footer-link">{{ content.toolbar.photoGallery }}</a>
     <a routerLink="/contact" class="footer-link">{{ content.toolbar.contact }}</a>
  </div>
  <div class="footer-divider"></div>
  <div class="footer-bottom">
    <p>&copy; 2026 SIA – Sandviken Indian Association</p>
  </div>
</footer>
