<nav class="toolbar">
  <ul class="nav-menu">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">
        <i class="fas fa-home"></i>
        {{ content.toolbar.home }}
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" class="nav-link" routerLinkActive="active">
        <i class="fas fa-info-circle"></i>
        {{ content.toolbar.about }}
      </a>
    </li>    
    <li class="nav-item">
      <a routerLink="/board" class="nav-link" routerLinkActive="active">
        <i class="fas fa-users-cog"></i>
        {{ content.toolbar.board }}
      </a>
    </li>   
    <li class="nav-item">
      <a routerLink="/announcements" class="nav-link" routerLinkActive="active">
        <i class="fas fa-bullhorn"></i>
        {{ content.toolbar.announcements }}
      </a>
    </li>
     <li class="nav-item">
      <a routerLink="/events" class="nav-link" routerLinkActive="active">
        <i class="fas fa-calendar-alt"></i>
        {{ content.toolbar.events }}
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/membership" class="nav-link" routerLinkActive="active">
        <i class="fas fa-id-card"></i>
        {{ content.toolbar.membership }}
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link" routerLinkActive="active">
        <i class="fas fa-envelope"></i>
        {{ content.toolbar.contact }}
      </a>
    </li>
  </ul>
</nav>
